.login {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.login-form {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  align-items: center;
  border-radius: 5px;
}
input {
  padding: 0.4rem;
  border-radius: 9px;
  border: none;
}
button{
    padding: 7px;
    width: 4.2rem;
    margin-top: 6px;
    text-align: center;
    color: black;
    border-radius: 9px;
    cursor: pointer;
    font-weight: 600;
}
button:hover{
   transform: scale(1.05);
   color: white;
   background-color: black;
}